{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}EL106 Auth{% endblock %}</title>
  <!-- Site favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'vendors/images/logo1.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'vendors/images/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'vendors/images/favicon-16x16.png' %}"
    />
  <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/core.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/icon-font.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/style.css' %}"
    />
</head>
<body class="sidebar-light">
    
  <div class="header">
      <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
        <div
          class="search-toggle-icon bi bi-search"
          data-toggle="header_search"
        ></div>
        
      </div>
      <div class="header-right">
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              <span class="user-icon">
                <img src="{% static 'vendors/images/photo2.jpg' %}" alt="" />
              </span>
              <span class="user-name">{{ request.user.username }}</span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
            >
              <a class="dropdown-item" href="{% url 'profile' %}"
                ><i class="dw dw-user1"></i> Profile</a
              >
              <a class="dropdown-item" href="{% url 'logout' %}"
                ><i class="dw dw-logout"></i> Log Out</a
              >
            </div>
          </div>
        </div>
       
      </div>
    </div>
        <div class="left-side-bar">
      <div class="brand-logo">
        <a href="{% url 'home' %}">

        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
          <i class="ion-close-round"></i>
        </div>
      </div>
      <div class="menu-block customscroll">
        <div class="sidebar-menu">
          <ul id="accordion-menu">
            <li><a
                href="{% url 'home' %}"
                class="dropdown-toggle no-arrow {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
              >
                <span class="micon bi bi-house"></span
                ><span class="mtext">Home</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'profile' %}"
                class="dropdown-toggle no-arrow {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
              >
                <span class="micon dw dw-user1"></span
                ><span class="mtext">Profile</span>
              </a>
            </li>
            <li>
              <a
                href="/swagger/"
                class="dropdown-toggle no-arrow"
              >
                <span class="micon dw dw-settings2"></span
                ><span class="mtext">API Docs</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay"></div>
     <div class="main-container">
      <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
          <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            {% for message in messages %}
              <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
            {% block content %}{% endblock %}

          </div>
        </div>
      
      </div>
    </div>
    <!-- js -->
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
</body>
</html>
