{% extends 'users/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

					<div class="row align-items-center">
						<div class="col-md-8">
							<h4 class="font-20 weight-500 mb-10 text-capitalize">
								<div class="weight-600 font-30 text-blue">MIT EL106 Authentication API (Django + DRF)!</div>
							</h4>
							<p class="font-18 max-width-600">A RESTful API and GUI system built with Django REST Framework for MIT EL106.</p>
							<p class="font-18 max-width-600">Features include:
								<ul style="list-style: circle inside;">
									<li>User Registration (with email verification)</li>
									<li>JWT Login / Logout</li>
									<li>Password Reset (email link)</li>
									<li>Protected Profile (via JWT)</li>
									<li>Swagger API Docs</li>
									<li>HTML + CSS GUI (light theme)</li>
							</p>
						</div>
					</div>

{% endblock %}
